<turbo-frame id="main_content">
  <%if @tasks.count > 0 %>
    <div id="index_task">
      <%@tasks.each do |task|%>
        <div class="task_card">
          <div class="form">
            <h2><%=task.title%></h2>

            <div class="field">
              <p><%=task.description%><p>
            </div>
            <div class="field">
              <p>Due on <%=task.due_date.strftime("%d %b %Y")%></p>
            </div>

            <div class="actions">
              <%= link_to "Edit", edit_task_path(task) %>
              <span>&nbsp;&nbsp;</span>
              <%= link_to "Done", task, :data => {'turbo-method' => 'delete'} %>
            </div>
          </div>
        </div>
      <%end%>
    </div>
  <%else%>
    <%= render :partial => 'notask'%>
  <%end%>
</turbo-frame>
