<turbo-frame id="main_content">
  <div id="new_task">
    <div class="form">
      <h2>New Task</h2>

      <div id="flash">
        <%flash.each do |type, msg|%>
          <div class="<%=type%>"><%=msg%></div>
        <%end%>
      </div>
      <%= form_for(@task) do |f| %>
        <div class="field">
          <%= f.text_field :title, autofocus: true, autocomplete: "off", class: "input", placeholder: "Title" %>
        </div>
        <div class="field">
          <%= f.text_field :description, autocomplete: "off", class: "input", placeholder: "Description" %>
        </div>

        <div class="field">
          <%= f.select :input_tags, options_for_select(@tags), {:include_blank => false}, {:multiple => true}  %>
        </div>

        <div class="actions">
          <%= f.submit "Add Task" %>
        </div>
      <%end%>
    </div>
  </div>
</turbo-frame>
