<!DOCTYPE html>
<html>
  <head>
    <title>Todoapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div class="wrapper">
      <%=render partial: 'header'%>
      <div class="middle">
        <%=render partial: 'menu'%>
        <div class="main">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
